.galleryPost {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    transition: .3s ease;
}

.galleryPost:hover{
    cursor: pointer;
    border-radius: 1rem;
}

.galleryPost section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.galleryPost section > * {
    margin-bottom: .5rem;
}

.tagList {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.tagList *{
    margin-left: .4rem;
    margin-top: .4rem;
}

.galleryPost img {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
}