.galleryPost {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    transition: .3s ease;
    box-shadow: 5px 5px 10px 1px rgba(204, 204, 204, 0.452);
}

.msgHover {
    position: absolute;
    top: 50%;
    right: 35%;
    background-color: var(--primary);
    padding: 1rem;
    border-radius: 4px;
    font-weight: 500;
    opacity: 0;
}

.galleryPost:hover .msgHover{
    opacity: 1;
    cursor: pointer;
}

.galleryPost:hover :is(img, section) {    
    opacity: .6;
}

.galleryPost section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.galleryPost section > * {
    margin-bottom: .5rem;
}

.tagList {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.tagList *{
    margin-left: .4rem;
    margin-top: .4rem;
}

.galleryPost .image {
    position: relative;
}

.galleryPost .image img {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
}