.galleryPost {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    transition: .2s ease-out;
    box-shadow: 2px 2px 5px 1px rgba(204, 204, 204, 0.452);
}
.galleryPost:hover {
    box-shadow: 5px 10px 15px 3px rgba(204, 204, 204, 0.322);
}

.galleryPost section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.galleryPost section > * {
    margin-bottom: .5rem;
}

.tagList {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.tagList *{
    margin-left: .4rem;
    margin-top: .4rem;
}

.galleryPost .image {
    position: relative;
}

.galleryPost .image img {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
}

.groupButton {
    display: flex;
    justify-content: flex-end;
}

.groupButton > * + * {
    margin-left: 0.5rem;
}

.groupButton a {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: 0.3s ease;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.groupButton a:hover {
    background-color: var(--primary);
    color: var(--background);
}