.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    padding: 0 4rem;
    overflow-y: hidden;
}

.block {
    padding-left: 230px;
    margin-top: 4rem;
}

@media(max-width: 720px) {
    .container {
        flex-direction: column;
        padding: 0 1rem;
    }
    .block {
        padding-left: 0;
        padding-top: 1.5rem;
    }
}

.block section {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
    gap: 1.5rem;
}

@media(min-width: 2000px) {
    .block section {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 900px) {
    .block section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 420px) {
    .block section {
        grid-template-columns: 1fr;
    }
}

.container footer {
    padding: 2rem 1rem;
    text-align: center;
}