.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    padding: 0 4rem;
    overflow-y: hidden;
}

.block {
    padding-left: 230px;
    margin-top: 4rem;
}

@media(max-width: 720px) {
    .container {
        flex-direction: column;
        padding: 0 1rem;
    }
    .block {
        padding-left: 0;
        padding-top: 1.5rem;
    }
}

.masonry {
    padding: 1rem;
    columns: 3;
    gap: 1.5rem;
}

.masonry > * {
    break-inside: avoid;
    margin-bottom: 1.5rem;
}

@media(min-width: 2000px) {
    .masonry {
        columns: 4;
    }
}

@media(max-width: 900px) {
    .masonry {
        columns: 2;
    }
}

@media(max-width: 420px) {
    .masonry {
        columns: 1;
    }
}

.container footer {
    padding: 2rem 1rem;
    text-align: center;
}