.container{
    /* height: 100vh; */
    max-width: 1124px;
    margin: 0 auto;
    display: flex;
    padding: 0 4rem;
    overflow-y: hidden;
}

.block {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    padding-left: 230px;
}

.block > * {
    margin-top: 4rem;
}

@media(max-width: 720px){
    .container {
        flex-direction: column;
        padding: 0 1rem;
    }
    .block {
        padding-left: 0;
        padding-top: 1.5rem;
    }
}

.container footer {
    padding: 2rem 1rem;
    text-align: center;
}