.responsiveBar {
    position: fixed;
    background-color: var(--white);
    width: 100vw;
    padding: 1rem 2rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

@media(min-width: 721px) {
    .responsiveBar {
        display: none;
    }
}

.filter input {
    background-color: var(--light);
    border: none;
    padding: 0.2rem;
    width: 100%;
    outline: none;
}

.filter input:focus {
    outline-color: var(--light);
}

.filter ul {
    list-style-type: none;
    display: flex;
}

.filter ul>*+* {
    margin-left: 1rem;
}

.filter li {
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding-right: 1rem;
}

.filter li:hover {
    cursor: pointer;
    background-color: var(--light);
}

.filter ul div {
    background-color: var(--primary);
    height: 2rem;
    margin-right: 0.4rem;
    color: var(--primary);
    border-radius: 8px 0 0 8px;
    transition: .25s ease-in-out;
}

.filter ul i {
    font-size: 1.5rem;
    margin-right: .4rem;
}

.responsiveBar button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.responsiveBar button:active {
    color: var(--primary)
}