.sidebar {
    position: fixed;
    z-index: 10;
    max-width: 230px;
    min-width: 175px;
    margin-right: 2rem;
    padding: 4rem 2rem 4rem 0;
    background-color: var(--background);
    height: 100%;
    flex: 1;
}


@media(max-width: 720px) {
    .visible {
        position: fixed;
        z-index: 10;
        height: 100vh;
    }
    .invisible {
        position: fixed;
        display: none;
    }
    .sidebar {
        width: 400px;
        padding: 1rem;
        height: 100%;
        margin-right: 0;
        box-shadow: 5px 0px 10px 1px rgba(204, 204, 204, 0.452);
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.header i {
    font-size: 2rem;
}

.aboutMe img {
    height: 132px;
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
}

.aboutMe a {
    font-weight: 400;
}

.aboutMe a:hover {
    text-decoration: underline;
}

.aboutMe a p {
    margin-bottom: 1rem;
}

.aboutMe>*+* {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.aboutMe hr {
    border: 1px solid var(--highlight);
    border-radius: 1px;
}

.filter>*+* {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.search {
    display: flex;
    align-items: center;
    background-color: var(--highlight);
    border-radius: 4px;
    padding: 0.5rem;
}

.filter input {
    background-color: var(--highlight);
    border: none;
    padding: 0.2rem;
    width: 100%;
    outline: none;
}

.filter input:focus {
    outline-color: var(--highlight);
}

.filter ul {
    list-style-type: none;
}

.filter ul>*+* {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.filter li {
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.filter li:hover {
    cursor: pointer;
    background-color: var(--highlight);
}

.filter ul div {
    background-color: var(--primary);
    height: 2rem;
    margin-right: 0.4rem;
    color: var(--primary);
    border-radius: 8px 0 0 8px;
    transition: .25s ease-in-out;
}

.filter ul i {
    font-size: 1.5rem;
    margin-right: .4rem;
}